#################
## Svelte Examples
#################

**/public/bundle.*
**/dist-storybook/**
**/coverage/**
**/dist/**
**/lib/**
**/tmp/**
**/temp/**

#################
## npm / yarn
#################

**/node_modules/**
