##################
## Svelte Examples
##################

build/
dist-storybook/
dist/
dist-ssr/
lib/
package/
Issues/
temp/
tmp/
.svelte-kit/
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#################
## npm
#################

node_modules/
npm-debug.log
package-lock.json

#################
## yarn
#################

yarn.lock
yarn-error.log

#################
## ESLint
#################

.eslintcache

#################
## Other
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
